{% extends 'base.html' %}

{% block title %}
  Login
{% endblock %}

{% block content_title %}
  <div class="offset-md-4 col-md-4">
    <h1 class="display-4">{{ _('Login') }}</h1>
  </div>
{% endblock %}

{% block content %}
    <div class="offset-md-4 col-md-4">
      {% from "security/_macros.html" import render_field_with_errors, render_field %}
      {% include "security/_messages.html" %}
      <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
        {{ login_user_form.hidden_tag() }}
        {{ render_field_with_errors(login_user_form.email, class='form-control') }}
        {{ render_field_with_errors(login_user_form.password, class='form-control') }}
        {{ render_field_with_errors(login_user_form.remember) }}
        {{ render_field(login_user_form.next) }}
        {{ render_field(login_user_form.submit, class='btn btn-outline-success') }}
        <a href="{{ url_for('security.register')}}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Регистрация</a>
        <a href="{{ url_for('security.forgot_password')}}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Сброс пароля</a>
      </form>
    </div>

{% endblock %}}
